<%= form_for [:admin, object] do |f| %>
  <%= render "shared/error_messages", object: object %>
  <div class="field">
    <%= f.label :audio, :class => 'control-label' %>
    <%= f.file_field :audio %>
  </div>
  <%= f.fields_for :sub_questions do |sub_question_builder| %>
    <p>
      <%= sub_question_builder.label :content, "Question #{sub_question_builder.index + 1}" %><br />
      <%= sub_question_builder.text_area :content, :rows => 3 %><br />
    </p>
    <%= sub_question_builder.fields_for :options do |option_builder| %>
      <p>
        <%= option_builder.label :content, "Option #{option_builder.index+1}" %>
        <%= option_builder.text_field :content %>
      </p>
    <% end %>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>
